---
import { Icon } from 'astro-icon/components';
import { getPermalink } from '~/utils/permalinks';
import Button from '~/components/ui/Button.astro';

export interface Props {
  prevUrl?: string;
  nextUrl?: string;
  prevText?: string;
  nextText?: string;
}

const { prevUrl, nextUrl, prevText = 'Newer posts', nextText = 'Older posts' } = Astro.props;
---

{
  (prevUrl || nextUrl) && (
    <div class="flex justify-between items-center mt-12 pt-8 border-t border-[rgb(198,134,255)]/20">
      <a
        href={getPermalink(prevUrl)}
        class={`inline-flex items-center text-muted hover:text-[rgb(198,134,255)] transition-all duration-300 group ${!prevUrl ? 'invisible' : ''}`}
      >
        <Icon name="tabler:chevron-left" class="w-5 h-5 mr-2 transition-transform duration-300 group-hover:-translate-x-1" />
        <span class="font-medium">{prevText}</span>
      </a>

      <a
        href={getPermalink(nextUrl)}
        class={`inline-flex items-center text-muted hover:text-[rgb(198,134,255)] transition-all duration-300 group ${!nextUrl ? 'invisible' : ''}`}
      >
        <span class="font-medium">{nextText}</span>
        <Icon name="tabler:chevron-right" class="w-5 h-5 ml-2 transition-transform duration-300 group-hover:translate-x-1" />
      </a>
    </div>
  )
}
