---
import { getPermalink } from '~/utils/permalinks';

import { APP_BLOG } from 'astrowind:config';
import type { Post } from '~/types';

export interface Props {
  tags: Post['tags'];
  class?: string;
  title?: string | undefined;
  isCategory?: boolean;
}

const { tags, class: className = 'text-sm', title = undefined, isCategory = false } = Astro.props;
---

{
  tags && Array.isArray(tags) && (
    <>
      {title !== undefined && (
        <span class="align-super font-normal underline underline-offset-4 decoration-2 dark:text-slate-400">
          {title}
        </span>
      )}
      <ul class={className}>
        {tags.map((tag) => (
          <li class="inline-block mr-2 rtl:mr-0 rtl:ml-2 mb-2 py-1.5 px-3 lowercase font-medium rounded-lg border border-[rgb(198,134,255)]/30 bg-[rgb(198,134,255)]/10 backdrop-blur transition-all duration-300 hover:bg-[rgb(198,134,255)]/20 hover:border-[rgb(198,134,255)]/50">
            {!APP_BLOG?.tag?.isEnabled ? (
              <span class="text-white">{tag.title}</span>
            ) : (
              <a
                href={getPermalink(tag.slug, isCategory ? 'category' : 'tag')}
                class="text-white hover:text-white"
              >
                {tag.title}
              </a>
            )}
          </li>
        ))}
      </ul>
    </>
  )
}
